<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <h1>Featured Content</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12">

        <div class="col s4">
          <div class="center">
            <div class="featuredIcon" src="">
              <p class="featuredText">UNC Trials Offer Hope for Custom Cancer Treatments</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="center">
            <div class="featuredIcon" src="">
              <p class="featuredText">Tennis For Life Supports Breast Cancer Survivors</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="center">
            <div class="featuredIcon" data-src="http://www.lls.org/blog/fda-update-new-therapy-for-hodgkin-lymphoma-patients?utm_source=Silverpop&utm_medium=Email&utm_campaign=BreakingNews-NewTherapy&utm_content=BreakingNews-LLS&spMailingID=28290478&spUserID=MTA1NzIzMzAwODU4S0&spJobID=1002516283&spReportId=MTAwMjUxNjI4MwS2">
              <p class="featuredText">FDA Update: New Therapy for Hodgkin Lymphoma Patients</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col s8 offset-s2">
        <div id="featuredMedia">
        </div>
      </div>
    </div>

    {{!-- <div class="row">
      <div class="col s4 offset-s2 xl4">
      <iframe src="http://www.wral.com/lifestyles/healthteam/video/16557472/?version=embedded_v2&player_options=%257B%2522embedded_autoplay_next%2522%253Atrue%257D" allowfullscreen webkitallowfullscreen mozallowfullscreen class="wral-embedded-player" style="width: 476px; height: 267px; background-color: transparent; border: 0px none transparent; padding: 0px; overflow: hidden;"></iframe>
      </div>
      <div class="col s4 offset-s2 xl4 offset-xl2">
        <iframe width="476" height="267" src="http://abc11.com/video/embed/?pid=1751304" frameborder="0" allowfullscreen></iframe>
      </div>
    </div> --}}

  </div>
</div>



<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h1>Immunotherapy News Feed</h1>
      </div>
    </div>
  </div>
</div>

<div id="articleBanner" class="container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        {{#each found}}
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{this.image}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{this.title}}</h5>
              <h6>{{this.source}}</h6>
              <div class="divider"></div>
              <p class="newsSnip">{{this.snip}}</p>
            </div>
            <div class="card-action">
              <a href="{{this.link}}">Full Article Here</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="parallax" id="newsBkg"><img src="./assets/images/proIntro50o.jpg" alt="Unsplashed background img 1"></div>
</div>




{{!-- Immunotherapy resource urls
  -- UNC Lineburger Home Page --
  https://unclineberger.org/immunotherapy --}}
